<div style="background-color: #121212; color: aliceblue; padding: 20px;">
  <img src="logo.png" alt="logo">
  <h1>
    Transformando Ideas en Experiencias Únicas 🚀
  </h1>
  <p style="font-size: 16px; max-width: 1000px;">
    Desarrollador Full Stack Web Developer con background en estudios de
    arquitectura y empresas de construcción, valoro enormemente el trabajo en
    equipo. Mi pasión radica en transformar ideas en experiencias cautivadoras.
    Mi enfoque profesional se especializa en el desarrollo Frontend, respaldado
    por conocimientos en metodologías ágiles, GIT y el uso de tecnologías como
    JavaScript, HTML, CSS, Sequelize.js, React.js, Redux.js, PostgreSQL,
    Node.js, Express y MySQL entre otros. Mis habilidades blandas incluyen la
    comunicación efectiva, la resolución de problemas, la adaptabilidad, la
    capacidad de liderazgo y la colaboración efectiva en equipos. Estoy dedicado
    a seguir aprendiendo y perfeccionando mis habilidades. ¡Bienvenido a mi
    rincón digital! ¿Listo para construir algo extraordinario?
  </p>
  <img src="perfil.jpg" style="height: 800px; width: 400px; margin-top: 30px;" alt="perfil">
</div>
